{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

                


<div class="container-fluid page-body-wrapper">


{% include 'home/sidebar.html' %}


        <!-- partial -->
  <!-- creating pole form -->
            <div class="main-panel">
                <div class="content-wrapper">
    <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                {% comment %} {% include 'partials/_messages.html' %} {% endcomment %}

                                <h4 class="card card-body card-title">MEDINOS VOTING SYSTEM</h4>
                            </div>
                        </div>
                    </div>
                </div>



                    <div class="row">


                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Change Password</h4>
                                    <!-- <p class="card-description"> Basic form elements </p> -->


                                    <form class="forms-sample" method = "POST">
                                       
                                       {% csrf_token %}
                                        {% comment %} <div class="form-group">
                                            <label for="exampleTextarea1"><b>Enter Poll Question</b></label>
                                                    {% render_field form.question class="form-control" %}
                                            <textarea class="form-control" id="exampleTextarea1" rows="5"></textarea>
                                        </div> {% endcomment %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-6 col-form-label"><b>Old Password</b></label>

                                                    <div class="col-sm-9">
                                                    {% render_field form.vote_one class="form-control" %}
                                                        {% comment %} <input type="text" class="form-control" /> {% endcomment %}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-6 col-form-label"><b>New Password</b></label>
                                                    <div class="col-sm-9">
                                                    {% render_field form.vote_two class="form-control" %}
                                                        {% comment %} <input type="text" class="form-control" /> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-6 col-form-label"><b>Confirm Password</b></label>
                                                    <div class="col-sm-9">
                                                    {% render_field form.vote_three class="form-control" %}
                                                        {% comment %} <input type="text" class="form-control" /> {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <!-- <button class="btn btn-light">Cancel</button> -->
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                            <!-- <a href="" target="_blank">bootstrapdash.com </a> -->
                            <b> &copy; OLANEYE 2023 -
                                <script>document.write(new Date().getFullYear());</script>
                            </b>
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            <!-- <a href="https://wordpress-923989-3206731.cloudwaysapps.com/" target="_blank"> Bootstrap dashboard </a> -->
                            <!-- <b> &copy; OLANEYE<script>document.write(new Date().getFullYear());</script> </b> -->
                        </span>
                    </div>
                </footer>

                <!-- partial -->
            </div>  
        <!-- main-panel ends -->
    </div>

{% endblock %}